#form {
    display: block;
    margin-top: 185px;
    margin-bottom: 185px;
    overflow: hidden;
}

.login-form h2,
.signup-form h2 {
    margin-bottom: 30px;

    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 300;

    color: #696763;
}


.login-form form input,
.signup-form form input {
    display: block;
    width: 100%;
    height: 40px;
    padding-left: 10px;
    margin-bottom: 10px;

    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 300;

    color: #696763;
    border: medium none;
    outline: medium none;
    background: #ccc;
}

.login-form form span {
    line-height: 25px;
}

.login-form form span input {
    float: left;
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.login-form form button {
    margin-top: 23px;
}

.login-form form button,
.signup-form form button {
    display: block;
    padding: 6px 25px;

    font-family: "Roboto", sans-serif;

    color: #fff;
    border: medium none;
    border-radius: 0;
    background: #fe980f;
}




.login-form label input {
    display: inline-block;
    height: 0;
    padding-left: 0;
    margin-bottom: 0;

    border: medium none;
    outline: medium none;
}


.or {
    width: 50px;
    height: 50px;
    margin-top: 75px;

    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 50px;

    text-align: center;

    color: #fff;
    border-radius: 40px;
    background: #fe980f;
}

.product-image-wrapper {
    height: 380px;
    margin-bottom: 30px;
    overflow: hidden;

    border: 1px solid #f7f7f5;
}

.single-products {
    position: relative;
}

.new,
.sale {
    position: absolute;
    top: 0;
    right: 0;
}

.productinfo h2 {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 700;

    color: #fe980f;
}
.product-overlay h2 {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 700;

    color: #fff;
}


.productinfo p {
    height: 34px;

    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;

    color: #696763;
}

.productinfo img {
    width: 100%;
}

.productinfo {
    position: relative;
}

.product-overlay {
    position: absolute;
    top: 0;

    display: none;
    display: block;
    width: 100%;
    height: 0;

    transition: height 500ms ease 0s;

    background: #fe980f;
}

.single-products:hover .product-overlay {
    display: block;
    height: 100%;
}


.product-overlay .overlay-content {
    position: absolute;
    bottom: 0;
    bottom: 0;

    width: 100%;

    text-align: center;
}

.product-overlay .add-to-cart {
    margin-bottom: 25px;

    font-family: "Roboto", sans-serif;
    font-size: 15px;

    color: #fe980f;
    border: 0 none;
    border-radius: 0;
    background: #fff;
}

.product-overlay .add-to-cart:hover {
    color: #fe980f;
    background: #fff;
}


.product-overlay p {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;

    color: #fff;
}
