<!DOCTYPE html>
<html>
    <head>
        <title>{$title}</title>
    </head>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="js/category.js"></script>
    <body>
	    <header>
		    <a href="/">Home</a> 
			<a href="/categories">Categories</a> 
			<a href="/admin">Admin</a> 
		</header>
        <ul>
            {foreach from=$categories item=$category}
            <li>
                <a href="/index.php?page=categories&id={$category.id}" link="{$category.id}" class="category-link">{$category.name}</a>
            </li>
            {/foreach}
        </ul>



